numpy
pandas>=2.1.4
matplotlib
scikit-learn
scipy
seaborn
ipykernel
python-dotenv>=1.0.0
geopandas
shapely
folium
openai
feature-engine
requests>=2.31.0
pytest==7.4.3
tenacity>=8.2.3
responses==0.24.1
filelock>=3.13.1
pyyaml>=6.0.1